!!! xml

QtGui:QApplication(xmlns:QtGui="PySide.QtGui", xmlns:jd="jaded.utils")
    QtGui:QVBoxLayout
        
        QtGui:QLCDNumber(id="lcd", numDigits=2, display="{=slider.value}")
        QtGui:QSlider(id="slider", orientation="QtCore.Qt.Horizontal")
        
        
    
  
  